<scrm-modal [closable]="true"
            [close]="closeButton"
            [title]="titleKey"
            [bodyKlass]="'m-0 small-font'"
            [footerKlass]="'border-0'"
            [headerKlass]="'border-0'"
            [klass]="'record-list-modal'">
    <div modal-body>
        <div class="position-relative d-flex flex-column">
            <div class="record-view-name">
                <h4>{{accountName}}'s Hierarchy</h4>
            </div>
            <br />
            <ng-container *ngIf="(dataSource$ | async) as dataSource">
                <table aria-describedby="table-body"
                       class="list-view-table striped-table table" *ngIf="dataSource">
                    <tr>
                        <ng-container *ngFor="let column of keys">
                            <th *ngIf="column==='name'"
                                [colSpan]="5"
                                scope="col"
                                class="primary-table-header">
                                {{displayedColumns[column]}}
                            </th>
                            <th *ngIf="column!=='name'"
                                scope="col"
                                class="primary-table-header">
                                {{displayedColumns[column]}}
                            </th>
                        </ng-container>
                    </tr>
                    <tr [ngStyle]="record.id === marked && {'background-color': '#f2f2f2', 'border-left': '3px solid #276ecd'}" *ngFor="let record of dataSource | slice: 0: (showCount > 0) ? showCount : dataSource.length; let last = last">
                        <ng-container *ngFor="let column of keys">
                                <td *ngIf="column==='name'"
                                    [colSpan]="5"
                                    [style.padding-left]="10+((record.ind)*15)+'px'">
                                    <a [ngStyle]="{'font-weight':record.id === marked ? 800 : 700}" target="_blank" href="#/accounts/record/{{record['id']}}">{{decodeHtml(record[column])}}</a>
                                </td>
                                <td *ngIf="column!=='name'">
                                    {{decodeHtml(record[column])}}
                                </td>
                        </ng-container>
                        <ng-container *ngIf="last && loading">
                            {{ onContentPrinted() }}
                        </ng-container>
                    </tr>
                </table>
                <div [ngStyle]="{'padding': '10px', 'margin': 'auto', 'font-size': '1em'}">
                    Show more
                    <a href="javascript:" (click)="addItems(200);">200</a> |
                    <a href="javascript:" (click)="addItems(500);">500</a> |
                    <a href="javascript:" (click)="addItems(1000)">1000</a> |
                    <a href="javascript:" (click)="addItems(0);">All</a>
                </div>
                <ng-container *ngIf="loading">
                    <app-full-page-spinner></app-full-page-spinner>
                </ng-container>
            </ng-container>
        </div>
    </div>
</scrm-modal>
